<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531572016920-38lii5icqggce99emlf29fbl83t4im1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531572016920-38lii5icqggce99emlf29fbl83t4im1u</string>
	<key>API_KEY</key>
	<string>AIzaSyB9HZ-QtlzyFkqC42tuuaoR2nhgMX1e7eM</string>
	<key>GCM_SENDER_ID</key>
	<string>531572016920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo</string>
	<key>PROJECT_ID</key>
	<string>fir-cfdec</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cfdec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531572016920:ios:6fc2bd388f11624cfe806d</string>
</dict>
</plist>